$font-extralight: 100;
$font-light: 150;
$font-regular: 250;
$font-bold: 400;

$text-light: rgba(255, 255, 255, 0.9);
$text-dark: rgba(0, 0, 0, 0.9);

$step: 8px;


$timing: 0.2s;


$breakpoint-sm: 800px;


$light-veil:rgba(143, 136, 136, 0.9);
$dark-veil: rgba(0, 0, 0, 0.4);


$logo-size: 45px;
$icon-size: 30px;