* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  height: 100dvh;
  width: 100dvw;
}

main {
  position: absolute;
  left: max(8%, calc($logo-size + $step * 2));
  z-index: -1;
}

